{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
        <div class="container">
            <ul class="socialCol">
                <li><a href="https://github.com/philiptitus" target="_blank"><img src="{% static 'images/github.png' %}" alt="..."></a></li>
                <li><a href="https://linkedin.com/in/philiptitus" target="_blank"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
            </ul>
            <div class="copyrightCol">
                <p>
                    Copyright ©<b>{% now 'Y' %} Philip Titus <img src="{% static 'images/logo.svg' %}" style="height: 20px;" alt="fire"><br></b>
                    All rights reserved.
                </p>
                <p><a href="https://www.mrphilip.cv/privacy/" style="color: #FF8C00;" target="_blank">Privacy Policy</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->
