{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}Philip Titus{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}
<style>
  .bell-icon {
    cursor: pointer;
  }

  /* Ensure the modal overlay is centered and displays fully */
  .modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

 /* Ensure modal content is centered within the overlay */
 .modal {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .modal-header {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .modal-body {
    margin-bottom: 10px;
  }

  .close-btn {
    cursor: pointer;
    background: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
  }
</style>
{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}
<script>
  function toggleModal() {
    const modalOverlay = document.getElementById('modal');
    modalOverlay.style.display = modalOverlay.style.display === 'none' || modalOverlay.style.display === '' ? 'flex' : 'none';
  }

  window.onclick = function(event) {
    const modalOverlay = document.getElementById('modal');
    if (event.target === modalOverlay) {
      modalOverlay.style.display = 'none';
    }
  }
</script>
{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
  <div class="bannerSection">
    <div class="container">
      <div class="row g-4 g-md-3  align-items-center">

        <div class="col-md">
          <div class="bannerContent">
            <h1 class="xlTitle pb-3">Hi,I’m {{me.userprofile.user}},

              <section class="section-specific-styles"> <!-- Add a unique class to the section -->
                <div class="container-fluid">

                <div style="font-family: 'Times New Roman', Times, serif; font-style: italic; font-size: 20px; color: #dc871e; text-align: center;">
                  "Software Engineer and Machine Learning Engineer"
                </div>

          </p>
          </div>
        </section>

        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>

            </br></h1>
            <div class="bannerBtnCol">
              <div class="row">
                  <div class="col"><a download href="https://drive.google.com/file/d/1m5pAsSU-FZ5eENyyunjYAZQeR1yh0qgw/view?usp=sharing" class="btn btnPrimary" target="_blank">View Resume</a></div>
                  <div class="col"><a href="https://github.com/philiptitus" class="btn btnPrimary" target="_blank">My Github</a></div>
                  <div class="col"><a href="https://linkedin.com/in/philiptitus" class="btn btnPrimary" target="_blank">My LinkedIn</a></div>
                  <div class="col"><a href="{% url 'main:contact' %}" class="btn btnOutline" target="_blank">Contact</a></div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="sectionSpaceSm lightBg">
    <div class="container">
      <div class="row pb-3">
        <div class="col" style="display: flex; align-items: center;">
          <h4 class="smText regular" style="margin-right: 10px;">My Best Work</h4>
        </div>
      </div>
      <div class="latestRelease">
        {% with portfolio|dictsort:"date" as sorted_portfolio %}
          {% for item in sorted_portfolio %}
            {% if item.star %}
              <div class="portfolioCard">
                <div class="row g-4 align-items-center">
                  <div class="col-md-auto">
                    <div class="portfolioImgCol">
                      <a href="{% url 'main:portfolio' slug=item.slug %}"><img src="{{ item.image_url }}" alt="..."></a>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="portfolioContentCol">
                      <h4 class="lgTitle"><a href="{% url 'main:portfolio' slug=item.slug %}">{{ item.name }}</a></h4>
                      <ul class="portfolioOption">
                        <li><span class="dateLbl">{{ item.date.year }}</span></li>
                      </ul>
                      <p>{{ item.description }}</p>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endwith %}
      </div>
    </div>
  </div>
</section>

<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
<section>
  <div class="sectionSpaceSm lightBg">
    <div class="container">
      <div class="row pb-3 align-items-center">
        <div class="col">
          <h4 class="smText regular" style="display: inline-block; vertical-align: middle; margin: 0;">Other Featured Projects</h4>
        </div>
      </div>
      <div class="sliderOuter">
        <div class="swiper certificatesSlider">
          <div class="swiper-wrapper">
            {% for p in portfolio %}
              {% if p.is_active and p.featured %}
                <div class="swiper-slide" id="two">
                  <div class="portfolioCard">
                    <div class="row g-4 align-items-center">
                      <div class="col-md-auto">
                        <div class="portfolioImgCol">
                          <a href="{% url 'main:portfolio' slug=p.slug %}"><img src="{{p.image_url}}" alt="..."></a>
                        </div>
                      </div>
                      <div class="col-md">
                        <div class="portfolioContentCol">
                          <h4 class="lgTitle"><a href="{% url 'main:portfolio' slug=p.slug %}">{{p.name}}</a></h4>
                          <ul class="portfolioOption">
                            <li><span class="dateLbl">{{p.date.year}}</span></li>
                          </ul>
                          <p>{{p.description}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="cert-swiper-button-next swiper-button-next swiperBtnStyle"></div>
        <div class="cert-swiper-button-prev swiper-button-prev swiperBtnStyle"></div>
        <div class="swiper-pagination swiperPaginationStyle posInitial"></div>
      </div>
    </div>
  </div>
  <div class="d-md-none text-center">
    <p>Swipe to view more</p>
  </div>
</section>

<section>
  <div class="sectionSpaceSm lightBg">
    <div class="container">
      <div class="row pb-3 align-items-center">
        <div class="col">
          <h4 class="smText regular" style="display: inline-block; vertical-align: middle; margin: 0;">Certificates</h4>
        </div>
      </div>
      <div class="sliderOuter">
        <div class="swiper certificatesSlider">
          <div class="swiper-wrapper">
            {% for c in certificates %}
              {% if c.is_active %}
                <div class="swiper-slide" id="one">
                  <div class="cardStyle1">
                    <h4 class="mdTitle cs1Title">
                      <a href="{% url 'main:dev' %}">{{c.title}}</a>
                    </h4>
                    <ul class="cardOptionCol">
                      <li>{{c.date.date}}</li>
                      <li>{{c.name|title}}</li>
                    </ul>
                    <p>{{c.description}}</p>
                    <i><h6>{{ c.category }}</h6></i>
                    {% if c.is_ongoing %}
                      <i>Status: learning</i>
                    {% else %}
                      <i>Status: complete</i>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="cert-swiper-button-next swiper-button-next swiperBtnStyle"></div>
        <div class="cert-swiper-button-prev swiper-button-prev swiperBtnStyle"></div>
        <div class="swiper-pagination swiperPaginationStyle posInitial"></div>
      </div>
    </div>
  </div>
  <div class="d-md-none text-center">
    <p>Swipe to view more</p>
  </div>
</section>

<section>
  <div class="sectionSpaceSm lightBg">
    <div class="container">
      <div class="row pb-3 align-items-center">
        <div class="col">
          <h4 class="smText regular" style="display: inline-block; vertical-align: middle; margin: 0;">Recent Blogs</h4>
        </div>
        <div class="col-auto">
          <a href="{% url 'main:blogs' %}" class="simpleLink">View all</a>
        </div>
      </div>
      <div class="sliderOuter">
        <div class="swiper certificatesSlider">
          <div class="swiper-wrapper">

        {% for b in blogs %}
          {% if b.is_active %}
          <div class="swiper-slide" id="three">
            <div class="cardStyle1">
                <h4 class="mdTitle cs1Title"><a href="{% url 'main:blog' slug=b.slug %}">{{b.name}}</a></h4>
                <ul class="cardOptionCol">
                  <li>{{b.timestamp.date}}</li>
                  <li>{{b.author}}</li>
                </ul>
                <p>{{b.description}}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>

      <div class="cert-swiper-button-next swiper-button-next swiperBtnStyle"></div>
      <div class="cert-swiper-button-prev swiper-button-prev swiperBtnStyle"></div>
      <div class="swiper-pagination swiperPaginationStyle posInitial"></div>
      </div>
    </div>
  </div>
</section>




<section>
  <div class="sectionSpaceSm lightBg">
    <div class="container">
      <div class="row pb-3 align-items-center">
        <div class="col">
          <h4 class="smText regular" style="display: inline-block; vertical-align: middle; margin: 0;">Freelance Services</h4>
        </div>

      </div>
      <div >
        <div >
          <div >


          <div >
            <div class="cardStyle1">
                <h4 class="mdTitle cs1Title"><a href="">Fiverr</a></h4>
                <ul class="cardOptionCol">
<!-- Put this code anywhere in the body of your page where you want the badge to show up. -->

<div itemscope itemtype='http://schema.org/Person' class='fiverr-seller-widget' style='display: inline-block;'>
  <a itemprop='url' href=https://www.fiverr.com/philiptituso rel="nofollow" target="_blank" style='display: inline-block;'>
     <div class='fiverr-seller-content' id='fiverr-seller-widget-content-747b69bd-9051-43a1-9a9f-3f4d43a3ec3b' itemprop='contentURL' style='display: none;'></div>
     <div id='fiverr-widget-seller-data' style='display: none;'>
         <div itemprop='name' >philiptituso</div>
         <div itemscope itemtype='http://schema.org/Organization'><span itemprop='name'>Fiverr</span></div>
         <div itemprop='jobtitle'>Seller</div>
         <div itemprop='description'>I'm a full-stack developer skilled in Python (Django), Reactjs, and React Native. I specialize in creating scalable web and mobile applications that drive business growth.

What I Offer:

- Web Development: Dynamic, responsive websites using Django and Reactjs to enhance user experience.
- Mobile App Development: Robust mobile apps with React Native for seamless performance across devices.
- Custom Solutions: Tailored integrations, performance optimization, and custom plugins to meet your business needs.

Please Contact me before we get started so that I can show you my previous work.</div>
     </div>
 </a>
</div>

<script id='fiverr-seller-widget-script-747b69bd-9051-43a1-9a9f-3f4d43a3ec3b' src='https://widgets.fiverr.com/api/v1/seller/philiptituso?widget_id=747b69bd-9051-43a1-9a9f-3f4d43a3ec3b' data-config='{"category_name":"Programming \u0026 Tech"}' async='true' defer='true'></script>

                </ul>
              </div>
            </div>

        </div>
      </div>

         </div>
    </div>
  </div>
</section>


{% endblock %}
<!-- ================================
End Content
================================= -->
